.main {
  display: flex;
  padding: 16px;
  gap: 8px
}

.calendar {
  width: 75%
}

.renderContent {
  background-color: rgb(201, 230, 154);
  width: 100%;
  margin-top: -15px;
  color: black;
  padding: 8px;
}
.fc-v-event {
  background-color: transparent;
  border: none;
}
.calendarSelect {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

select {
  padding: 8px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-top: 4px ;
}

.popup {
  cursor: pointer; 
  display: flex;
  flex-direction: column;
  padding: 8px; 
  gap: 8px; 
  width: 200px; 
  border-radius: 2px; 
  text-align: start;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 10;
}

span {
  padding: 4px; 
  transition: background-color 0.2s ease; 
}

span:hover {
  background-color: #fef08a;
}

.sidebar {
  width: 25%;
  height: 100vh;
  padding: 16px;
}

.sidebarItem {
  padding: 8px; 
  background-color: rgb(201, 230, 154);
  border-right-width: 2px; 
  cursor: move; 
  width: 200px; 
  margin-bottom: 16px;
}